* {box-sizing: border-box;}

body { 
  margin:0;
  font-family: Rubik;
}

.header {
  overflow: hidden;
  background-color: #FFFFFF;
  padding: 10px 25px;
  height: 60px;
  width: 100%;
}

.header a {
  float: left; 
  color: #FFFFFF;
  text-align: center;
  padding: 12px;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 50%;
  text-decoration: #1dcc1d;
}


.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  border-radius: 50%;
  background: #099109;

}

.body {
  overflow: hidden;
  background-color: #FFFFFF;
  padding: 90px 90px;
  height: 1000px;
  width: 100%;
}
.body a {
  float: left; 
  color: #FFFFFF;
  background-color: #4F469C;
  text-align: center;
  padding: 15px;
  text-decoration: #726bad;
  font-size: 20px; 
  line-height: 20px;
  border-radius:25px;
}
.body-left a:hover{
  background-color: #4F469C;
  border-radius: 0px;
}
.body-left {
  float: left;
  border-radius: 15px;
  background: #FFFFFF;
  font-size: 24px;
}
/*.body-right a.active {
  background-color: dodgerblue;
  color: white;
} */
.body-right{
  text-align: center;
  background: #FFFFFF;
  font-family: sans-serif;
  font-weight: 100;
}
.body1-right {
  float: right;
  border-radius: 15px;
  background: #FFFFFF;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 100;
}
h1{
  color: #4F469C;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
  font-family: Rubik;
}

#clockdiv{
  font-family: 'Times New Roman';
  color: rgb(22, 19, 19);
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #aca7df;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #bbaeae;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}
#duration{
  font-family: 'Times New Roman';
  display: box;
  font-weight: 20;
  text-align: center;
  font-size: 20px;
}

#duration > div{
  font-family: 'Rubik';
  padding: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  display: inline-block;
}

#duration div > span{
  padding: 15px;
  border-radius: 50%;
  display: inline-block;
  font: #ffffff;
  font-size: larger;
  width: 120px;
  height: 90px;
  
}
.bigtext{
  padding-top: 30px;
  font-size: 20px;
}
.circle{
  background-color: #cdcce2;
  width: 100px;
  height: 100px;
  border-radius: 50%;

}
.footer{
  border-top-left-radius:100%;
  border-top-right-radius:100%;
  background: #675CC4;

}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}